<app-header title="Login"/>
<ion-content>
  
  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-logo />

      <app-custom-input 
      icon="mail-outline"
      autocomplete="email"
      [control]="form.controls.email"
      type="email"
      label="Correo: "
      />
      
      @if (form.controls.email.errors && form.controls.email.touched) {

        <div class="validators">

          @if(form.controls.email.errors['required']) {
            <div>El correo es requerido.</div>
          }

          @if(form.controls.email.errors['email']){
            <div>Ingrese un correo valido, por favor.</div>
          }

        </div>

      }
      
      <app-custom-input 
      icon="lock-closed-outline"
      [control]="form.controls.password"
      type="password"
      label="Contraseña: "
      />

      @if (form.controls.email.errors && form.controls.email.touched) {

        <div class="validators">

          @if(form.controls.password.errors?.['required']) {
            <div>La contraseña es requerida.</div>
          }

        </div>
        
      }

      <p class="ion-text-end" routerLink="/forgot-password">Olvide mi contraseña</p>

      <ion-button expand="block" node="ios" class="submit" type="submit" [disabled]="form.invalid">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Ingresar
      </ion-button>

      <ion-button class="ion-margin-top" routerLink="/sign-up" expand="block" node="ios" fill="outline">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Registrate
      </ion-button>
      
    </form>

  </div>

</ion-content>